.agent {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background: rgb(31, 31, 31);
  background: linear-gradient(
    180deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  min-height: 100vh;
}

.agent__navbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.agent__navbar h1{
  margin-left: 1em;
  font-size: 2em;
}

.agent__navbar p{
  margin-right: 1em;
  color: var(--input__text__color);
  font-size: 1.4em;
}

@media only screen and (max-width: 700px) {
  .agent {
    background: var(--bg__color);
  }
}
