* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg__color);
  color: var(--text__color);
}

*::selection{
  background-color: var(--purple__logo);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --navBar__color: #111111;
  --bg__color: #1F1F1F;
  --input__bg__color: #0A0A0A;
  --text__color: #F9F9F9;
  --input__text__color: #535353;
  --purple__logo: #371B58;
  --purple__outline__input: #4C3575;
  --purple__active: #7858A6;
}

html {
  scroll-behavior: smooth;
}

.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 70px;
  background-color: var(--navBar__color);
  color: var(--text__color);
}

a{
  color: var(--purple__active);
  text-decoration: none;
}

