.main__help {
  background-color: var(--bg__color);
}

.help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg__color);
  color: var(--text__color);
  padding: clamp(45px, 10%, 70px);
}

.help h1 {
  color: var(--text__color);
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 0.7em;
}

.help p {
  color: #ebebeb;
  font-size: 21px;
  margin-bottom: 1em;
}

.help a {
  color: var(--purple__active);
  font-size: 1em;
  font-weight: lighter;
  text-decoration: none;
  transition: all 0.2s;
}
